@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #eeeeee;
  --text-color: #111111;
}

.dark {
  --background-color: #111111;
  --text-color: #eeeeee;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

*::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

.closure::after {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 14ch;
  background: inherit;
  transform: translate(-20vmin, -24.5vmin);
}

.closure::before {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 14ch;
  background: inherit;
  transform: translate(-20vmin, 3vmin);
}

@layer components {
  .header {
    @apply flex w-[99%] justify-between items-center shadow-lg backdrop-filter backdrop-blur-lg bg-transparent p-4 z-20 mx-2 mt-4 rounded-lg border-0 dark:border border-gray-50 max-h-[10vh] transition-all duration-300
  }

  .fixed-header {
    @apply sticky top-4
  }

  .closure-before {
    @apply before:absolute before:content-[] before:h-[25vmin] before:w-[14ch] before:translate-y-[5vmin] before:bg-[inherit]
  }

  .closure-after {
    @apply after:absolute after:h-[25vmin] after:w-[14ch] after:translate-y-[-24.5vmin] after:content-[''] after:bg-[inherit]
  }
}