@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #eeeeee;
  --text-color: #111111;
}

.dark {
  --background-color: #111111;
  --text-color: #eeeeee;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Courier New', Courier, monospace;
}

*::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

.type {
  color:#0000;
  background: linear-gradient(-90deg,var(--text-color) 5px,#0000 0) 10px 0, linear-gradient(var(--text-color) 0 0) 0 0;
  background-size: calc(var(--n)*1ch) 200%;
  -webkit-background-clip: padding-box,text;
  background-clip: padding-box,text;
  background-repeat: no-repeat;
  animation: b .7s infinite steps(1), t calc(var(--n)*.1s) steps(var(--n)) forwards;
}

@keyframes t {
  from {
    background-size: 0 200%
  }
}

@keyframes b {
  50% {
    background-position: 0 -100%,0 0
  }
}

.ascii-bg {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  opacity: 0.15;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(var(--width, 120), 1fr);

  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0;
  white-space: nowrap;

  /* Centrado */
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.ascii-bg span {
  display: block;
  text-align: center;
}

@layer components {
  .header {
    @apply fixed md:sticky top-2 md:top-4 flex w-[95%] justify-between items-center shadow-lg backdrop-filter 
    backdrop-blur-lg bg-transparent py-4 px-6 lg:px-20 z-20 rounded-lg border-0 dark:border border-gray-50 max-h-[10vh] 
    transition-all duration-300 left-4 right-4
  }

  /* SCROLL BAR */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: var(--background-color) var(--text-color);
  }

  .scrollbar-thin::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-gray-400;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-[var(--text-color)] rounded-full border-2 border-neutral-500;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-[var(--background-color)];
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:active {
    @apply bg-[var(--background-color)];
  }
  * {
    @apply scrollbar-thin;
  }
}