@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #eeeeee;
  --text-color: #111111;
}

.dark {
  --background-color: #111111;
  --text-color: #eeeeee;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

@layer components {
  .header {
    @apply flex w-[99%] justify-between items-center shadow-lg backdrop-filter backdrop-blur-lg bg-transparent p-4 z-20 mx-2 mt-4 rounded-lg border-0 dark:border border-gray-50 max-h-[10vh] transition-all duration-300
  }

  .fixed-header {
    @apply sticky top-4
  }
}