@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #eeeeee;
  --text-color: #111111;
}

.dark {
  --background-color: #111111;
  --text-color: #eeeeee;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

*::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

@media screen and (min-width: 480px) {
  .closure::after {
    content: '';
    position: absolute;
    height: 6rem;
    width: 12rem;
    background: inherit;
    transform: translate(-13rem, -5.5rem);
  }
  
  .closure::before {
    content: '';
    position: absolute;
    height: 6rem;
    width: 12rem;
    background: inherit;
    transform: translate(-10rem, 2rem);
  }
}


@media screen and (max-width: 480px) {
  .closure::after {
    content: '';
    position: absolute;
    height: 6rem;
    width: 6rem;
    background: inherit;
    transform: translate(-8rem, -5.8rem);
  }

  .closure::before {
    content: '';
    position: absolute;
    height: 6rem;
    width: 6rem;
    background: inherit;
    transform: translate(-5.75rem, 1.2rem);
  } 
}

@layer components {
  .header {
    @apply fixed top-0 md:sticky md:top-4 flex w-[95%] md:w-[99%] justify-between items-center shadow-lg backdrop-filter 
    backdrop-blur-lg bg-transparent py-4 px-20 z-20 mx-auto rounded-lg border-0 dark:border border-gray-50 max-h-[10vh] 
    transition-all duration-300
  }

  /* SCROLL BAR */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: var(--background-color) var(--text-color);
  }

  .scrollbar-thin::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-gray-400;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-[var(--text-color)] rounded-full border-2 border-gray-500;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-[var(--background-color)];
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:active {
    @apply bg-[var(--background-color)];
  }
  * {
    @apply scrollbar-thin;
  }
}